<! Template for main page/user interface >
<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Index
    </title>
    <link rel=stylesheet type=text/css href=
    "{{ url_for('static', filename='css/style.css') }}">
    
    <!-- do i need these here if i just import script from a separate file? -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type=text/javascript src=
    "{{ url_for('static', filename='js/analysis_select.js') }}"></script>
</head>
<body>
        <h1>Select Analysis</h1>
        
        <!-- TODO: filter other selections based on analysis selection -->
        <select id="analysisSelector" name="analysis" size="20">
            {% for analysis in analysislist %}
                <option value="{{ analysis }}"> {{ analysis }} </option>
            {% endfor %}
        </select>
        
        <!-- TODO: change form action based on selection (scatter/etc) -->
        <form action="{{ url_for('scatter_plot') }}" target="_blank" method="POST">
        <select class="multiSelect" name="batchnum" size="20">
            {% for batch in batchlist %}
                <option value="{{ batch }}"> {{ batch }} </option>
            {% endfor %}
        </select>
        
        <!-- leave this out for now
        <select multiple="multiple" class="multiSelect" name="celllist" size="20">
            {% for cell in celllist %}
                <option value="{{ cell }}"> {{ cell }} </option>
            {% endfor %}
        </select>
        -->
        
        <!-- have to select at least two -->
        <select multiple="multiple" class="multiSelect" name="modelnames" size="20">
            {% for model in modellist %}
                <option value="{{ model }}"> {{ model }} </option>
            {% endfor %}
        </select>
        
        <!-- scatter plot only option for now
        <input type="radio" name="plottype" value="{{ plottypelist }}"
            checked/> {{ plottypelist }} <br>                       -->
        <input type="checkbox" name="measure" value="{{ measurelist }}"
            checked/> {{ plottypelist }} <br>
        <!-- TODO: add more checkboxes or radio buttons for other options -->
        
        <input type="submit" value="Submit"/>
        </form>
    
    <div class=footer>
        <a href="{{ url_for('view_database') }}" target="_blank"> View Database </a>
    </div>
</body>
</html>