<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEMS Analysis</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NEMS Analysis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('main_view') }}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="{{ url_for('error_log') }}" target="_blank">Error Log</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
    <div class="starter-template">
    
        <div class="row">
        
<!--            Left-hand-side, form selections       ---->

            <div class="col-xs-4">
            <form class="form" id="selections" method="POST" target="_blank">
                <div class="form-group">
                <label for="analysisSelector"> Select Analysis </label>
                <select class="form-control" id="analysisSelector">
                    <option selected disabled value=""> Analysis </option>
                    {% for analysis in analysislist %}
                        <option value="{{ analysis }}"> {{ analysis }} </option>
                    {% endfor %}
                </select>
                
                <!-- TODO: improve positioning of popover. may need to set up as
                            separate container, fix so its contents update
                            without having to click off and back on again -->
                            
                <button type="button" class="btn btn-secondary" data-toggle=
                    "popover" id="analysisDetails" data-placement="bottom"
                    data-content="testing" data-html="true"> Details </button>
                </div>
                
                <div class="form-group">
                <label for="batchSelector"> Batch </label>
                <select class="form-control" id="batchSelector" name="batch">
                    <option selected disabled value=""> Batch </option>
                    {% for batch in batchlist %}
                        <option value="{{ batch }}"> {{ batch }} </option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="cellSelector"> Cell(s) </label>
                <select multiple="multiple" class="form-control" name="celllist" size="12"
                    id="cellSelector">
                    <option disabled value=""> Select a batch to populate cells. </option>
                </select>
                </div>

                <div class="form-group">
                <label for="modelSelector"> Model(s) </label>
                <select multiple="multiple" class="form-control" name="modelnames" size="12"
                    id="modelSelector">
                    <option disabled value=""> Select an analysis to populate models. </option>
                </select>
                </div>
                
                <div class="form-group">
                <label for="measureSelector"> Performance Measure </label>
                <select class="form-control" id="measureSelector" name="measure">
                    <option selected disabled value=""> Performance Measure </option>
                    {% for measure in measurelist %}
                        <option value="{{ measure }}"> {{ measure }} </option>
                    {% endfor %}
                </select>
                </div>
                
                <div id="form-warning">
                <p> Selection required for each option before submission </p>
                </div>
                <button type="Submit" name="scatter" form="selections" formaction=
                        "{{ url_for('scatter_plot') }}" class="plotsub" disabled> Scatter
                <button type="Submit" name="bar" form="selections" formaction=
                        "{{ url_for('bar_plot') }}" class="plotsub" disabled> Bar
                <button type="Submit" name="pareto" form="selections" formaction=
                        "{{ url_for('pareto_plot') }}" class="plotsub" disabled> Pareto
            </form>
            </div><!-- col -->
            
<!--     Right-hand-side, table display and options ------------------>

            <div class="col-xs-8" id="resultsArea">
                <div class="input-group">
                
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type=
                        "button">Columns</button>
                    <button tabindex="-1" data-toggle="dropdown" class=
                        "btn btn-default dropdown-toggle" type="button">
                    <span class="caret"></span></button>
                    <div id="tableColumns" class="dropdown-menu">
                        {% for col in collist %}
                            <li>
                            <input class="result-option" type="checkbox"
                            value="{{ col }}" name="result-option[]"
                            {% if col in defaultcols %}
                                checked
                            {% endif %}
                            >
                            <span class="lbl">{{ col }}</span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="input-group-btn">
                </div>
                
                <div class="input-group-btn">       
                    <button tabindex="-1" class="btn btn-default" type=
                    "button">Sort By</button>
                    <button tabindex="-1" data-toggle="dropdown" class=
                    "btn btn-default dropdown-toggle" type="button">
                    <span class="caret"></span></button>
                    <div id="tableSort" class="dropdown-menu">
                        <li>
                        <input class="order-option" type="radio"
                        value="asc" name="order-option[]"
                        <span class="lbl">Ascending</span>
                        </li>
                        <li>
                        <input class="order-option" type="radio"
                        value="desc" name="order-option[]" checked
                        <span class="lbl">Descending</span>
                        </li>
                        {% for col in sortlist %}
                            <li>
                            <input class="sort-option" type="radio"
                            value="{{ col }}" name="sort-option[]"
                            {% if col == defaultsort %}
                                checked
                            {% endif %}
                            >
                            <span class="lbl">{{ col }}</span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="input-group">
                    <span class="input-group-addon" id="row-limit-label">
                                Row Limit</span>
                    <input type="text" id="rowLimit" value="{{ defaultrowlimit }}"
                                class="form-control">
                </div>
                
                </div> <!-- input-group -->
                <div id="tableWrapper">
                
                </div>
            </div><!-- resultsArea  col -->
        </div><!-- row -->

    </div><!-- starter template-->
    </div><!-- container -->

    <!-- load jquery -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <!-- ajax javascript -->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type=text/javascript src=
    "{{ url_for('static', filename='js/analysis_select.js') }}"></script>
  </body>
</html>
