<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEMS Analysis</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main_view') }}">NEMS Analysis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://bitbucket.org/lbhb/nems" target="_blank">
            Source & Info</a></li>
            <li><a href="http://hyrax.ohsu.edu/celldb/celllist.php" target="_blank">
            CellDB</a></li>
            <li><a href="{{ url_for('error_log') }}" target="_blank">
            Error Log</a></li>
            <li><a href="{{ url_for('modelpane_view') }}" target="_blank">
            Modelpane Template Test</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
    <div class="starter-template">
    
        <div class="row">
        
<!--            Left-hand-side, form selections       ---->

            <div class="col-xs-4">
            <form class="form" id="selections" method="POST" target="_blank">
                <div class="form-group" id="analysisGroup">
                <label for="analysisSelector"> Select Analysis </label>
                <select class="form-control plot-form" id="analysisSelector">
                    {% for analysis in analysislist %}
                        <option value="{{ analysis }}"> {{ analysis }} </option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group" id="analysisButtons">
                
                <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle=
                    "popover" id="analysisDetails" data-placement="bottom"
                    data-content="No Selection" data-html="true"> Details </button>
                </div>
                
                <div class="btn-group editorGroup">
                <button type="button" class="btn btn-default" data-toggle="modal"
                id="newAnalysis" data-target="#analysisEditorModal"> New Analysis </button>
                </div>
                
                <div class="btn-group editorGroup">
                <button type="button" class="btn btn-default" data-toggle="modal"
                id="editAnalysis" data-target="#analysisEditorModal"> Edit Analysis </button>
                </div>
                <!-- modal div at bottom of page -->
                
                <div class="btn-group editorGroup">
                <button type="button" class="btn btn-default" id="deleteAnalysis"> 
                Delete Analysis </button>
                </div>
                
                <div class="dropdown">
                <button type="button" tabindex="-1" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" id="filerStatus"> Status </button>
                    <div id="statusFilters" class="dropdown-menu">
                        <li>
                        <input class="statusOption" name="statusOption[]" type=
                        "radio" value="__any" checked>
                        <span class="lbl"> Any </span>
                        </li>
                        {% for status in statuslist %}
                            <li>
                            <input class="statusOption" name="statusOption[]" 
                            type="radio" value="{{ status }}">
                            <span class="lbl">{{ status }}</span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="dropdown">
                <button type="button" tabindex="-1" class="btn btn-default dropdown-toggle" 
                id="filterTags" data-toggle="dropdown"> Tags </button>
                    <div id="tagFilters" class="dropdown-menu">
                    <!-- if 3 columns (or more) become necessary later, will have to change
                    sm-6 to sm-(12/number of columns needed) and change width of
                    .dropdown-menu in CSS appropriately -->
                        <ul class="list-unstyled col-sm-6">
                        <li>
                        <input class="tagOption" name="tagOption[]" type="radio"
                        value="__any" checked>
                        <span class="lbl"> Any </span>
                        </li>
                        {% for tag in taglist %}
                            <li>
                            <input class="tagOption"
                            name="tagOption[]" type="radio" value="{{ tag }}">
                            <span class="lbl">{{ tag }}</span>
                            </li>
                        <!-- slit options to new column at every n options -->
                            {% if loop.index is divisibleby 13 %}
                                </ul>
                                <ul class="list-unstyled col-sm-6">
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                </div><!-- button form-group end -->
                
                <div class="form-group" id="batchDiv">
                <label for="batchSelector"> Batch </label>
                <select class="form-control plot-form" id="batchSelector" name="batch">
                    {% for batch in batchlist %}
                        <option value="{{ batch }}"> {{ batch }} </option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="cellSelector"> Cell(s) </label>
                <select multiple="multiple" class="form-control plot-form" name="celllist" size="8"
                    id="cellSelector">
                    <option disabled value=""> Select a batch to populate cells. </option>
                </select>
                <input type="checkbox" id="selectAllCells" checked> Select All</input>
                </div>

                <div class="form-group">
                <label for="modelSelector"> Model(s) </label>
                <select multiple="multiple" class="form-control plot-form" name="modelnames" size="8"
                    id="modelSelector">
                    <option disabled value=""> Select an analysis to populate models. </option>
                </select>
                <input type="checkbox" id="selectAllModels" checked> Select All</input> 
                </div>
                
                <div class="form-group">
                <label for="measureSelector"> Performance Measure </label>
                <select class="form-control plot-form" id="measureSelector" name="measure">
                    {% for measure in measurelist %}
                        <option value="{{ measure }}"
                            {% if loop.index == 0 %}
                                checked
                            {% endif %}
                        > {{ measure }} </option>
                    {% endfor %}
                </select>
                </div>
                
                <!--
                <div id="form-warning">
                <p> Selection required for each option before submission </p>
                </div>
                -->
                
                <div id="plotOpAll">
                
                <div id="plotOpButtons">
                <input type="checkbox" id="onlyFair" name="onlyFair" 
                checked value="fair"> Fair? </input>
                <input type="checkbox" id="includeOutliers" name="includeOutliers"
                value="outliers"> Outliers? </input>
                </div>
                
        <!--     TODO:  not set up yet                -->
                <div id="plotOpDropOuter">
                <div class="dropdown" id="plotOpDrop">
                    <button type="button" class="btn btn-default dropdown-toggle" 
                    tabindex="-1" data-toggle="dropdown">Use</button>
                    <div class="dropdown-menu">
                        <li>
                        <input type="radio" name="plotOption[]" value="snri">
                        <span class="lbl">SNRi</span>
                        </li>
                        <li>
                        <input type="radio" name="plotOption[]" value="iso">
                        <span class="lbl">Iso</span>
                        </li>
                        <li>
                        <input type="radio" name="plotOption[]" value="snr">
                        <span class="lbl">SNR</span>
                        </li>
                    </div>
                </div>
                <span id="plotOpGT">&gt</span>
                <input type="text" id="plotOpVal" name="plotOpVal" value="0">
                </div>

                
                <div id="plotOpSubmits">
                <button type="Submit" name="scatter" form="selections" formaction=
                        "{{ url_for('scatter_plot') }}" class="plotsub" disabled> Scatter
                <button type="Submit" name="bar" form="selections" formaction=
                        "{{ url_for('bar_plot') }}" class="plotsub" disabled> Bar
                <button type="Submit" name="pareto" form="selections" formaction=
                        "{{ url_for('pareto_plot') }}" class="plotsub" disabled> Pareto
                </div>
                
                </div><!-- plotOpAll -->
            </form>
            </div><!-- col -->
            
<!--     Right-hand-side, table display and options ------------------>

            <div class="col-xs-8" id="resultsArea">
                <div class="input-group">
                
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type=
                        "button">Columns</button>
                    <button tabindex="-1" data-toggle="dropdown" class=
                        "btn btn-default dropdown-toggle" type="button">
                    <span class="caret"></span></button>
                    <div id="tableColumns" class="dropdown-menu">
                        {% for col in collist %}
                            <li>
                            <input class="result-option" type="checkbox"
                            value="{{ col }}" name="result-option[]"
                            {% if col in defaultcols %}
                                checked
                            {% endif %}
                            >
                            <span class="lbl">{{ col }}</span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="input-group-btn">
                </div>
                
                <div class="input-group-btn">       
                    <button tabindex="-1" class="btn btn-default" type=
                    "button">Sort By</button>
                    <button tabindex="-1" data-toggle="dropdown" class=
                    "btn btn-default dropdown-toggle" type="button">
                    <span class="caret"></span></button>
                    <div id="tableSort" class="dropdown-menu">
                        <li>
                        <input class="order-option" type="radio"
                        value="asc" name="order-option[]"
                        <span class="lbl">Ascending</span>
                        </li>
                        <li>
                        <input class="order-option" type="radio"
                        value="desc" name="order-option[]" checked
                        <span class="lbl">Descending</span>
                        </li>
                        {% for col in sortlist %}
                            <li>
                            <input class="sort-option" type="radio"
                            value="{{ col }}" name="sort-option[]"
                            {% if col == defaultsort %}
                                checked
                            {% endif %}
                            >
                            <span class="lbl">{{ col }}</span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="input-group">
                    <span class="input-group-addon" id="row-limit-label">
                                Row Limit</span>
                    <input type="text" id="rowLimit" value="{{ defaultrowlimit }}"
                                class="form-control">
                </div>
                
                <div class="input-group-btn">
                </div>
                
                <!-- open preview file for result(s) selected on table -->
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button"
                    id="preview"> Preview </button>
                </div>
                
                <div class="input-group-btn">
                </div>
                
                <!-- open STRF file for result(s) selected on table -->
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button"
                    id="strf"> STRF </button>
                </div>
                
                <div class="input-group-btn">
                </div>
                
                                <!-- clear selected rows -->
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button"
                    id="clearSelected"> Clear Selections </button>
                </div>
                
                </div> <!-- input-group -->
                <div id="tableWrapper">
                
                </div>
                
                <div class="input-group" id="modelButtons">
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button"
                    id="fitSingle"> Fit Single Now </button>
                </div>
                
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button"
                    id="enqueue"> Enqueue Models </button>
                </div>
                
                <!-- open modelpane view for result(s) selected on table -->
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button"
                    id="inspect"> Inspect </button>
                </div>
                </div>
            </div><!-- resultsArea  col -->
        </div><!-- row -->

    </div><!-- starter template-->
    </div><!-- container -->
    
    <form id="analysisEditor" method="POST" action="{{ url_for('edit_analysis') }}">
    
    <div class="modal" id="analysisEditorModal" tabindex="-1" role="dialog"
    aria-labelledby="analysisEditorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="analysisEditorModalLabel"> Analysis Editor </h3>
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- header -->
                <div class="modal-body">
                    
                        <div class="container-fluid">
                        <div class="form-group">

                        <div class="row">
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editNameLabel" required>
                                    Name </span>
                            <input type="text" name="editName" placeholder="Name of Analysis"
                            class="form-control">
                            </div>
                            </div>
                            
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editStatusLabel">
                                    Status </span>
                            <input type="text" name="editStatus" placeholder="Status"
                            class="form-control">
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editBatchLabel">
                                    Batch </span>
                            <input type="text" name="editBatch" placeholder="Batch Number"
                            class="form-control">
                            </div>
                            </div>
                            
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editTagsLabel">
                                    Tags </span>
                            <input type="text" name="editTags" placeholder="Tags, if any"
                            class="form-control">
                            </div>
                            </div>
                        </div> <!-- row -->
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editQuestionLabel">
                                        Question </span>
                            <textarea form="analysisEditor" name="editQuestion" placeholder=
                            "Question Asked" class="form-control"></textarea>
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editAnswerLabel">
                                        Answer </span>
                            <textarea form="analysisEditor" name="editAnswer" placeholder=
                            "Answer(s) Found, If Any" class="form-control"></textarea>
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editTreeLabel">
                                        Model Tree </span>
                            <input type="text" name="editTree" id="editTree" placeholder=
                            "{'model','tree',{'specification'}}" class="form-control">
                            </div>
                            </div>
                        </div>
                        
                        </div><!-- form-group -->
                        </div><!--container-->

                </div><!-- body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel</button>
                    
                    <!-- assign this as form submission -->
                    <button type="button" class="btn btn-primary" id="submitEditForm"
                    > Save Analysis </button>
                </div><!-- footer -->
            </div><!--content -->
        </div><!--dialog-->
    </div><!--modal-->
    </form>
    
    <!-- load jquery -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <!-- ajax javascript -->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type=text/javascript src=
    "{{ url_for('static', filename='js/analysis_select.js') }}"></script>
  </body>
</html>
