<!-- Formats plot page -->
<!doctype html>
<head>
<!-- May have to update version in the future (currently 0.12.5 portion of URL) -->
<!-- Downloaded to static folder instead of using websites, so would just have to
     replace files and update file names as needed for updates -->
     
    <link href="{{ url_for('static', filename='css/bokeh-0.12.5.min.css') }}"
    rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bokeh-widgets-0.12.5.min.css') }}"
    rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/bokeh-0.12.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bokeh-widgets-0.12.5.min.js') }}"></script>

<!-- maintain url versions for if static folder breaks for some reason

    <link href="cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
    <link href="cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">
    <script src="cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"></script>
    -->
    {{ script|safe }}
</head>
<body>
    {{ div|safe }}
</body>
</html>