body {
  background: #CDD6D8;
}

.starter-template {
  padding: 2vh;
  text-align: center;
}

select.form-control {
  padding: 2px 4px; !important
  height: 20px; !important
  font-size: 10px;
}

tables.dataframe, table, th, td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

#tableWrapper {
  border: 1px solid #C8C8C8;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  display: block;
}

.jumbotron .py_con_msg {
  font-size: 12px;
  line-height: 14px;
  margin: 4px;
}

.table-hover, .table-condensed {
  display: block;
  height: 100%;      
  text-align: center;
  border: none;
}

.dataframe th , .dataframe td {
  cursor: pointer;
  border:none;
  text-align:center;        
}

#loadingPopup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba( 0, 0, 0, .3)
              url('http://imgur.com/qnRTMK6.gif')
              50% 50%
              no-repeat;
}

#outerCol {
  height: 103vh;
}

#selectionsRow {
  background: #FFFFFF;
  box-shadow: 5px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2vh;
  min-height: 1%;
  display: block;
}

#mainRow {
  height: 70vh;
  margin-bottom: 2vh;
  display: block;
}

#leftCol {
  height: 100%;
  position: relative;
  display: block;
}

#rightCol {
  height: 100%;
  position: relative;
  display: block;
}

#tableRow {
  background: #FFFFFF;
  box-shadow: 5px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  display: block;
  margin-right: 1vh;
}

#pyConRow {
  background: #FFFFFF;
  box-shadow: 5px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  height: 15vh;
  display: block;
}

#tableCol {
  height: 100%;
  display: block;
}

#tableButtons {
  height: 8%;
  display: block;
}
#tableRowInner {
  height: 92%;
  display: block;
}

.plotOps {
  margin-bottom: 15px;
}

#displayRow {
  background: #FFFFFF;
  box-shadow: 5px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 3vh;
  height: 100%;
  display: block;
  overflow: scroll;
}

#py_console {
  height: 100%;
  overflow: auto;
  position: relative;
  display: block;
}

#analysisGroup {
  margin-bottom: 2px;
}

#analysisRow {
  margin-bottom: 5px;
  text-align: left;
}

#batchRow {
  text-align: left;
}

#cellRow {
  text-align: left;
}

#modelRow {
  text-align: left;
}

#cellCol {
  padding-right: 5px;
}

#modelCol {
  padding-left: 5px;
}

.selectedRow {
  background-color: #3DAEE9 !important;
  color: #FFF !important;
}

#displayWrapper img{
  max-width: 100%;      
  margin: auto;
  vertical-align: center;
}

#displayWrapper div{
  max-width: 100%;        
  margin: auto;
  vertical-align: center;
}

caption {
  font-style: bold;
  font-size: 20px;
}