body {
  padding-top: 25px;
  background: #CDD6D8;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

select.form-control {
  padding: 2px 4px; !important
  height: 20px; !important
  font-size: 10px;
}

tables.dataframe, table, th, td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

#tableWrapper {
  border: 1px solid #C8C8C8;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.jumbotron .py_con_msg {
  font-size: 12px;
  line-height: 14px;
  margin: 4px;
}

.table-hover, .table-condensed {
  display: block;
  height: 100%;      
  text-align: center;
  border: none;
}

.dataframe th , .dataframe td {
  cursor: pointer;
  border:none;
  text-align:center;        
}

#loadingPopup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba( 0, 0, 0, .3)
              url('http://imgur.com/qnRTMK6.gif')
              50% 50%
              no-repeat;
}

#selectionsRow {
  background: #FFFFFF;
  box-shadow: 0px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 3vh;
  height: 15vh;
}

#mainRow {
  height: 70vh;
}

#leftCol {
  height: 100%;
  position: relative;
}

#tableRow {
  background: #FFFFFF;
  box-shadow: 0px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 3vh;
  height: 100%;
}

#tableCol {
  height: 100%;
}

#tableButtons {
  height: 8%;
}
#tableRowInner {
  height: 92%;
}

#displayRow {
  background: #FFFFFF;
  box-shadow: 0px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 3vh;
  height: 100%;
}

#rightCol {
  height: 100%;
  position: relative;
  margin-left: 3vh;
}

#pyConRow {
  background: #FFFFFF;
  box-shadow: 0px 7px 5px #888888;
  border-radius: 10px;
  padding: 10px;
  height: 15vh;
  margin-top: 3vh;
}

#py_console {
  height: 100%;
  overflow: auto;
  position: relative;
}

#fitOpDiv {
  display: none;
}

#analysisButtons {
  display: none;
}

#analysisGroup {
  margin-bottom: 2px;
}

#analysisRow {
  margin-bottom: 5px;
  text-align: left;
}

#batchRow {
  text-align: left;
}

#cellRow {
  text-align: left;
}

#modelRow {
  text-align: left;
}

#cellSelector {
  display: none;
}

#modelSelector {
  display: none;
}

#plotOpRow {
  display: none;
}

#cellCol {
  padding-right: 5px;
}

#modelCol {
  padding-left: 5px;
}