<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEMS Data Upload</title>

    <!-- jquery ui plugin (resizeable divs) -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">    
    
  </head>

  <body style="padding-top: 45px; background: #CDD6D8;">

    <div class="container-fluid">
        <div class="row justify-content-center" style="padding-top: 45px;">
            <div class="col-xs-4"></div>
            <div class="col-xs-4"
                 style="box-shadow: -7px 7px 5px #888888;
                        background: #FFFFFF;
                        padding: 15px;
                        border-radius: 10px;">
            <h1> Upload Data </h1>
            {% from "account_management/_formhelpers.html" import render_field %}
            <form class="form" action="/upload" method="POST">
                {{ form.hidden_tag() }}
                {{ render_field(form.batch, class="form-control") }}
                {{ render_field(form.cell, class="form-control") }}
                {{ render_field(form.fs, class="form-control") }}
                {{ render_field(form.stimfmt, class="form-control") }}
                {{ render_field(form.chancount, class="form-control") }}
                {{ form.upload }}
                <br>
                <button type="submit"> Submit </button>
                {% if error %}
                    {% for error in errors %}
                        <br>
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </form>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-4"></div>
            <div class="col-xs-4"
                 style="text-align: center;">
                <br>
                <a href="{{ url_for('main_view') }}">
                    <button type="button" class="btn btn-default btn-lg"
                            style="box-shadow: -7px 7px 5px #888888;
                                   background: #FFFFFF; padding: 15px;
                                   border-radius: 10px;">
                                        Home
                    </button>
                </a>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>

    <!-- load jquery -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}">
    </script>
        
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>

  </body>
</html>