<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- TODO: Keep this title? -->
    <title> NEMS Modelpane </title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/modelpane/modelpane.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
    <div class="starter-template">
    
        <h1> Placeholder for modelpane view </h1>
        
    {% for module in modules %}

        <div class="row">
            <div class="control-group" align="left" id="moduleName">
                <button type="button"> Toggle Module </button>
            </div>
            
            <div class="col-xs-4">
            
                <div class="control-group" align="left">
                    <label for="testSelect"> Test Select </label>
                    <select class="form-control" id="testSelect">
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                    </select>
                </div><!-- control-group -->
                
                <div class="control-group" align="left">
                    <label for="testMulti"> Test Multi </label>
                    <select class="form-control" id="testMulti" size="5" multiple>
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                        <option> testing </option>
                    </select>
                </div><!-- control-group -->
                
                <div class="control-group" align="right" display="inline">     
                    <label class="checkbox">
                        <input type="checkbox"> Test1
                    </label>
                    <label class="checkbox">
                        <input type="checkbox"> Test1
                    </label>
                    <button type="button"> Submit </button>
                </div>
            </div><!-- end col -->
            
            <div class="col-xs-8">
            
                <div class="plot-wrapper">
                <p>right side plot goes here</p>
                {{ plots[loop.index - 1] }}
                </div> <!-- plot-wrapper -->
                
            </div><!-- end col -->
        </div><!-- end row -->
        
    {% endfor %}
    
    </div> <!-- end starter-template -->
    </div> <!-- end container -->
    
        <!-- load jquery -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <!-- modelpane-specific javascript -->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src=
        "{{ url_for('static',filename='/modelpane/modelpane.js') }}"
    </script>

  </body>
</html>