body {
  padding-top: 25px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-group {
  text-align: left;
}

tables.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.input-group {
  margin:10px;
}

#rowLimit {
  width: 60px !important;
  text-align: center;
}

.popover {
  max-width: none;
}

#analysisGroup {
  margin: 0px;
}

#analysisButtons .popover{
  width: 25vw !important;
}

#analysisButtons .btn-group {
  float: left;
  padding-right: 5px;
}   

#analysisButtons .editorGroup {
  padding-right: 5px;
  float: left;      
}

#analysisButtons .dropdown {
  padding-right: 5px;
  float:left;
}

#batchDiv {
  clear:both;
  margin-top: 45px !important;    
}

.dropdown-menu {
  width: 15vw !important;     
}

textarea {
  width: 100% !important;
  height: 25% !important;
}

#editTree {
  width: 100% !important;      
}

#plotOpButtons {
  float:left;        
}

#plotOpDropOuter {
  float:left;        
}

#plotOpDrop {
  float:left;        
}

#plotOpSubmits {
  float:left;        
}

#plotOpGT {
  padding:10px;        
}

#plotOpVal {
  float:right;
  width: 50px;        
}

#tableWrapper {
  margin-top: 10px;
  height: 70vh;
  display: block;
  overflow: auto;
  border: none;
  border-left: 1px solid #C8C8C8;
  border-top: 1px solid #C8C8C8;
}

.table-hover, .table-condensed {
  display: block;
  height: 100%;      
  text-align: center;
  border: none;
}

.dataframe th , .dataframe td {
  cursor: pointer;
  border:none;
  text-align:center;        
}

.selectedRow {
  background-color: #3DAEE9 !important;
  color: #FFF !important;
}