body {
  padding-top: 25px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

tables.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.input-group {
  margin:5px;
  margin-bottom: none;
}

.form-group {
  margin:5px;
  margin-bottom: none;
  text-align: left;
}

#tableBottom .input-group-btn{
  display: inline;
  margin:2px; 
}

#rowLimit {
  width: 60px !important;
  text-align: center;
}

.popover {
  max-width: none;
}

#analysisGroup {
  margin: 0px;
}

#analysisButtons .popover{
  width: 25vw !important;
}

#analysisButtons .btn-group {
  float: left;
  padding-right: 5px;
}   

#analysisButtons .editorGroup {
  padding-right: 5px;
  float: left;      
}

#analysisButtons .dropdown {
  padding-right: 5px;
  float:left;
}

#batchDiv {
  clear:both;
  margin-top: 30px;  
}

.dropdown-menu {
  width: 15vw !important;     
}

textarea {
  width: 100% !important;
  height: 25% !important;
}

#editTree {
  width: 100% !important;      
}

#modelButtons button{
  margin:2px;        
}

#plotMeasureTypeGroup {
  align: center;
  margin-top: 0px;     
}

#plotMeasureTypeGroupLabels label {
  width:40%;
  text-align: center;
}

#measureSelector {
  width: 40%;        
}

#plotTypeSelector {
  width: 40%;        
}

#plotOpLabels label {
  width: 20%;
  text-align: center;
}

#onlyFair {
  width: 20%;
}

#includeOutliers {
  width: 20%;        
}

#plotOpSelect {
  width: 20%;        
}

#plotOpVal {
  width: 20%;        
}

#tableWrapper {
  margin-top: 10px;
  height: 60vh;
  display: block;
  overflow: auto;
  border: 1px solid #C8C8C8;
}

#displayWrapper {
  text-align: center;
  margin-top: 1vh;
  height: 85vh;
  display: block;
  overflow: auto;
  border: 1px solid #C8C8C8;
  vertical-align:center;      
}

#displayWrapper img{
  max-width: 100%;      
  margin: auto;
  vertical-align: center;
}

#displayWrapper div{
  max-width: 100%;        
  margin: auto;
  vertical-align: center;
}

.table-hover, .table-condensed {
  display: block;
  height: 100%;      
  text-align: center;
  border: none;
}

.dataframe th , .dataframe td {
  cursor: pointer;
  border:none;
  text-align:center;        
}

.selectedRow {
  background-color: #3DAEE9 !important;
  color: #FFF !important;
}

#loadingPopup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba( 0, 0, 0, .3)
              url('http://imgur.com/qnRTMK6.gif')
              50% 50%
              no-repeat;
}

.jumbotron {
  padding: 10px !important;
  border: 1px solid #C8C8C8;
  margin-top: 20px;
  height: 13vh;
  overflow: auto;
  text-align: left;
}

.jumbotron .py_con_msg {
  font-size: 12px;
  line-height: 14px;
  margin: 4px;
}