<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEMS Analysis</title>

    <!-- jquery ui plugin (resizeable divs) -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">    

    <!-- DataTables jQuery plugin -->
    <link rel="stylesheet" href=
    "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    
    <!-- Bokeh dependencies -->
    <link rel="stylesheet" type="text/css"
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css">
    <link rel="stylesheet" type="text/css"
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main_view') }}">NEMS Analysis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://bitbucket.org/lbhb/nems" target="_blank">
            Source & Info</a></li>
            <li><a href="http://hyrax.ohsu.edu/celldb/celllist.php" target="_blank">
            CellDB</a></li>
            <li><a href="https://bitbucket.org/lbhb/nems/issues?status=new&status=open"
                   target="_blank">
                       Issue Tracker
            </a></li>
            <li><a href="#" id="enableDraggable">Enable Draggable</a></li>
            <li><a href="#" id="disableDraggable">Disable Draggable</a></li>
            <li>
                <a href="{{ url_for('login') }}" id="login">
                    {% if username %}
                        <script>
                            var login = document.getElementById('login');
                            login.style.display = 'none';
                        </script>
                    {% else %}
                        <script>
                            var login = document.getElementById('login');
                            login.style.display = 'block';
                        </script>
                        Log In
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}" id="logout">
                    {% if username %}
                        <script>
                            var logout = document.getElementById('logout');
                            logout.style.display = 'block';
                        </script>
                        Log Out
                    {% else %}
                        <script>
                            var logout = document.getElementById('logout');
                            logout.style.display = 'none';
                        </script>
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{{ url_for('register') }}" id="register">
                    {% if username %}
                        <script>
                            var register = document.getElementById('register');
                            register.style.display = 'none';
                        </script>
                    {% else %}
                        <script>
                            var register = document.getElementById('register');
                            register.style.display = 'block';
                        </script>
                        Register
                    {% endif %}
                </a>
            </li>
            <li><a href="#">{{ username }}</a></li>
            <li>
                <a href="{{ url_for('upload') }}" id="upload">
                    {% if username %}
                        <script>
                            var upload = document.getElementById('upload');
                            upload.style.display = 'block';
                        </script>
                        Upload
                    {% else %}
                        <script>
                            var upload = document.getElementById('upload');
                            upload.style.display = 'none';
                        </script>
                    {% endif %}
                </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
    <div class="starter-template">
    
        <div class="row">
        



<!--            Left-hand-side, form selections       -->




            <div class="col-md-3 col-xs-12 dragToggle ui-widget-content"
                 id="selectArea">
                <div class="row" id="analysisRow">
                    <div class="col-xs-12" id="analysisCol">
                        <div class="form-group" id="analysisGroup">
                            <label for="analysisSelector">
                                Select Analysis
                            </label>
                            <select class="form-control plot-form"
                                    id="analysisSelector">
                            {% for analysis in analysislist %}
                                <option value="{{ analysis }}">
                                    {{ analysis }}
                                </option>
                            {% endfor %}
                            </select>
                        </div><!--form-group-->
                    </div><!-- analysis col-->

                    <div class="col-xs-12" id="analysisButtonsCol">
                        <div class="form-group" id="analysisButtons">

                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        data-toggle="popover"
                                        id="analysisDetails"
                                        data-placement="bottom"
                                        data-content="No Selection"
                                        data-html="true">
                                            Details
                                </button>
                            </div>
                
                            <div class="btn-group editorGroup">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        data-toggle="modal"
                                        id="newAnalysis"
                                        data-target="#analysisEditorModal">
                                            New
                                </button>
                            </div>
                
                            <div class="btn-group editorGroup">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        data-toggle="modal"
                                        id="editAnalysis"
                                        data-target="#analysisEditorModal">
                                            Edit
                                </button>
                            </div>
                            <!-- modal div is at bottom of document -->
                
                            <div class="btn-group editorGroup">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        id="deleteAnalysis"> 
                                            Delete
                                </button>
                            </div>
                
                            <div class="dropdown">
                                <button type="button"
                                        tabindex="-1"
                                        class="btn btn-default btn-xs
                                               dropdown-toggle"
                                        data-toggle="dropdown"
                                        id="filerStatus">
                                            Status
                                </button>
                                <div id="statusFilters"
                                     class="dropdown-menu">
                                    <li>
                                        <input class="statusOption"
                                               name="statusOption[]"
                                               type="radio"
                                               value="__any" 
                                               checked>
                                        <span class="lbl">
                                            Any
                                        </span>
                                    </li>
                                    {% for status in statuslist %}
                                    <li>
                                        <input class="statusOption"
                                               name="statusOption[]" 
                                               type="radio"
                                               value="{{ status }}">
                                        <span class="lbl">
                                            {{ status }}
                                        </span>
                                    </li>
                                    {% endfor %}
                                </div><!-- status filters -->
                            </div><!-- dropdown outer div -->
                
                            <div class="dropdown">
                                <button type="button"
                                        tabindex="-1"
                                        class="btn btn-default btn-xs
                                               dropdown-toggle" 
                                        id="filterTags"
                                        data-toggle="dropdown">
                                            Tags
                                </button>
                                <div id="tagFilters"
                                     class="dropdown-menu">
                    <!-- if 3 columns (or more) become necessary later, will have
                    to change sm-6 to sm-(12/number of columns needed) and change
                    width of .dropdown-menu in CSS appropriately -->
                                    <ul class="list-unstyled col-sm-6">
                                        <li>
                                            <input class="tagOption"
                                                   name="tagOption[]"
                                                   type="radio"
                                                   value="__any"
                                                   checked>
                                            <span class="lbl">
                                                Any
                                            </span>
                                        </li>
                                        {% for tag in taglist %}
                                        <li>
                                            <input class="tagOption"
                                                   name="tagOption[]"
                                                   type="radio"
                                                   value="{{ tag }}">
                                                <span class="lbl">
                                                    {{ tag }}
                                                </span>
                                        </li>
                        <!-- slit options to new column at every n options -->
                                            {% if loop.index is divisibleby 13 %}
                                    </ul>
                                    <ul class="list-unstyled col-sm-6">
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div><!-- tag filters -->
                            </div><!-- dropdown outer -->
                            
                            <div class="btn-group editorGroup">
                                 <button type="button"
                                         class="btn btn-default btn-xs"
                                         id="fitReport"
                                         tabindex="-1">
                                             Fit Report
                                 </button>
                            </div>
                                 
                        </div><!-- button form-group end -->
                    </div><!-- button col end -->
                </div><!-- analysis row end -->
                
                <div class="row" id="batchRow">
                    <div class="col-xs-12" id="batchCol">
                        <div class="form-group" id="batchDiv">
                            <label for="batchSelector">
                                Batch
                            </label>
                            <select class="form-control plot-form"
                                    id="batchSelector"
                                    name="batch">
                            {% for batch in batchlist %}
                                <option value="{{ batch }}">
                                    {{ batch }}
                                </option>
                            {% endfor %}
                            </select>
                            <button type="button"
                                    class="btn btn-default btn-xs"
                                    id="batchPerformance">
                                    Batch Performance
                            </button>
                                Find All Models
                            <input type="checkbox"
                                   id="findAll"
                                   value="1">
                        </div><!-- form-group -->
                    </div><!-- batch col -->
                </div><!-- batch row -->

                <div class="row" id="cellRow">
                    <div class="col-xs-12"
                         id="cellCol">
                        <div class="form-group"
                             id="cellDiv">
                            <label for="cellSelector">
                                Cell(s)
                            </label>
                            <select multiple="multiple"
                                    class="form-control plot-form" 
                                    name="celllist"
                                    size="7"
                                    id="cellSelector">
                                <option disabled value="">
                                    Select a batch to populate cells.
                                </option>
                            </select>
                            <input type="checkbox"
                                   id="selectAllCells"
                                   checked>
                                       Select All
                        </div><!-- form-group-->
                    </div><!-- cell col -->
                </div><!-- cell row -->

                <div class="row" id="modelRow">
                    <div class="col-xs-12"
                         id="modelCol">
                        <div class="form-group"
                             id="modelDiv">
                            <label for="modelSelector">
                                Model(s)
                            </label>
                            <select multiple="multiple"
                                    class="form-control plot-form" 
                                    name="modelnames"
                                    size="7"
                                    id="modelSelector">
                                <option disabled value="">
                                    Select an analysis to populate models.
                                </option>
                            </select>
                            <input type="checkbox"
                                   id="selectAllModels"
                                   checked>
                                        Select All
                        </div><!-- form-group -->
                    </div><!-- model col -->
                
                    <div class="col-xs-12"
                         id="modelButtonsCol">
                        <div class="input-group form-inline"
                             id="modelButtons">
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-xs"
                                        type="button"
                                        id="fitSingle">
                                            Fit Single Now
                                </button>
                            </div>

                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-xs"
                                        type="button"
                                        id="enqueue">
                                            Enqueue Models
                                </button>
                            </div>
                
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        type="button"
                                        class="btn btn-default btn-xs"
                                        id="toggleFitOp">
                                            Fit Options
                                </button>
                            </div>
                        </div><!-- model buttons input-group -->
                
                        <div class="input-group form-inline"
                             id="fitOpDiv">
                                Force Rerun
                            <input type="checkbox"
                                   id="forceRerun"
                                   value="1">
                        </div>
                    </div><!-- model buttons col -->
                </div><!-- model row -->
                
                <div class="row"
                     id="plotRow">
                    <div class="col-xs-12"
                         id="plotCol">
                        <div class="row"
                             id="plotRowInner">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="measureSelector">
                                        Measure
                                    </label>
                                    <select class="form-control plot-form"
                                            id="measureSelector"
                                            name="measure">
                                    {% for measure in measurelist %}
                                        <option value="{{ measure }}"
                                        {% if loop.index == 0 %}
                                                checked
                                        {% endif %}
                                        >
                                            {{ measure }}
                                        </option>
                                    {% endfor %}
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button"
                                                class="btn btn-default btn-xs"
                                                tabindex="-1"
                                                id="togglePlotOp">
                                                    Plot Options
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="plotTypeSelector">
                                        Plot Type
                                    </label>
                                    <select class="form-control plot-form" 
                                            id="plotTypeSelector">
                                    {% for type in plotTypeList %}
                                        <option value="{{ type }}">
                                            {{ type | replace('_',' ') }}
                                        </option>
                                    {% endfor %}
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-xs"
                                                type="button"
                                                id="submitPlot">
                                                    Submit Plot
                                        </button>
                                    </div>
                                </div><!-- form-group -->
                            </div>
                        </div><!-- plot row inner -->

                        <div class="row" id="plotOpWrapper">
                            <div class="form-group form-inline"
                                 id="plotOpLabels">
                                <label for="onlyFair">
                                    Fair?
                                </label>
                                <label for="includeOutliers">
                                    Outliers?
                                </label>
                                <label for="plotOpSelect">
                                    Use
                                </label>
                                <label for="plotOpVal">
                                    &gt;
                                </label>
                            </div><!-- label form-group -->
                
                            <div class="form-group form-inline"
                                 id="plotOpGroup">
                                <input type="checkbox"
                                       id="onlyFair"
                                       name="onlyFair" 
                                       checked value="1">
                                <input type="checkbox"
                                       id="includeOutliers"
                                       name="includeOutliers"
                                       value="1">
                                <select class="form-control"
                                        id="plotOpSelect">
                                    <option value="snri">
                                        SNRi
                                    </option>
                                    <option value="iso">
                                        Iso
                                    </option>
                                    <option value="snr">
                                        SNR
                                    </option>
                                </select>
                                <input type="text"
                                       id="plotOpVal"
                                       name="plotOpVal"
                                       value="0">
                            </div><!-- form-group -->
                            
                            <div class="form-group form-inline"
                                 id="plotOpLabelsTwo">
                                 <label for="plotNewWindow">
                                     New Window
                                 </label>
                            </div>
                            
                            <div class="form-group form-inline"
                                 id="plotOpGroupTwo">
                                 <input type="checkbox"
                                        id="plotNewWindow"
                                        name="plotNewWindow"
                                        value="1">
                            </div>
                        </div><!-- plotOpWrapper -->
                    </div><!-- plot col -->
                    <div class="col-xs-12"
                         id="customCol">
                         <div class="form-group form-inline"
                              id="customGroup">
                              <button type="button"
                                      id="reloadScripts">
                                  <span class="glyphicon glyphicon-refresh">
                                  </span>
                              </button>
                              <select class="form-control"
                                      id="customSelector">
                              {% for script in scripts %}
                                  <option value="{{ script }}">
                                      {{ script }}
                                  </option>
                              {% endfor %}
                              </select>
                              <button type="button"
                                      class="btn btn-default btn-xs"
                                      id="submitCustom">
                                          Run Script
                              </button>
                        </div> <!-- customGroup -->
                    </div> <!-- custom col -->
                </div><!-- plot row -->
            </div><!-- select area col -->
            



<!--     Right-hand-side, table display and options        -->




            <div class="col-md-4 col-xs-12 dragToggle ui-widget-content"
                 id="resultsArea">
                <div class="row"
                     id="tableRow">
                    <div class="col-xs-12"
                         id="tableButtonsColTop">
                        <div class="input-group form-inline"
                             id="tableButtonsTop">
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button">
                                            Show
                                </button>
                                <button tabindex="-1"
                                        data-toggle="dropdown"
                                        class="btn btn-default btn-sm
                                               dropdown-toggle" 
                                        type="button">
                                    <span class="caret">
                                    </span>
                                </button>
                                <div id="tableColumns"
                                     class="dropdown-menu">
                                {% for col in collist %}
                                    <li>
                                        <input class="result-option"
                                               type="checkbox"
                                               value="{{ col }}"
                                               name="result-option[]"
                                        {% if col in defaultcols %}
                                               checked
                                        {% endif %}
                                        >
                                        <span class="lbl">
                                            {{ col }}
                                        </span>
                                    </li>
                                {% endfor %}
                                </div><!-- table columns drop down -->
                            </div><!-- button group -->
                
                            <div class="input-group-btn">
                            </div>
                
                            <div class="input-group-btn">       
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button">
                                            Sort
                                </button>
                                <button tabindex="-1"
                                        data-toggle="dropdown"
                                        class="btn btn-default btn-sm
                                               dropdown-toggle"
                                        type="button">
                                    <span class="caret">
                                    </span>
                                </button>
                                <div id="tableSort"
                                     class="dropdown-menu">
                                    <li>
                                        <input class="order-option"
                                               type="radio"
                                               value="asc"
                                               name="order-option[]">
                                        <span class="lbl">
                                            Ascending
                                        </span>
                                    </li>
                                    <li>
                                        <input class="order-option"
                                               type="radio"
                                               value="desc"
                                               name="order-option[]"
                                               checked>
                                        <span class="lbl">
                                            Descending
                                        </span>
                                    </li>
                                {% for col in sortlist %}
                                    <li>
                                        <input class="sort-option"
                                               type="radio"
                                               value="{{ col }}"
                                               name="sort-option[]"
                                        {% if col == defaultsort %}
                                               checked
                                        {% endif %}
                                        >
                                        <span class="lbl">
                                            {{ col }}
                                        </span>
                                    </li>
                                {% endfor %}
                                </div><!-- table sort drop down -->
                            </div><!-- input-group-btn -->

                            <div class="input-group" id="rowLimitDiv">
                                <span class="input-group-addon input-sm"
                                      id="row-limit-label"
                                      size="10">
                                          Limit
                                </span>
                                <input type="text"
                                       id="rowLimit"
                                       value="{{ defaultrowlimit }}"
                                       class="form-control input-sm">
                            </div>

                            <div class="input-group">
                                <label for="autoPreview"
                                       id="autoPreviewLabel">
                                          Auto Preview
                                <input type="checkbox"
                                       id="autoPreview"
                                       value="1">
                            </div>
                        </div><!-- outer form group -->
                    </div><!-- top table buttons col -->
                
                    <div class="col-xs-12"
                         id="tableWrapperCol">
                        <div id="tableWrapper">
                        </div>
                    </div>

                    <div class="col-xs-12"
                         id="tableButtonsBottomCol">
                        <div class="input-group"
                             id="tableButtonsBottom">
                <!-- open modelpane view for result(s) selected on table -->
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button"
                                        id="inspect">
                                            Inspect
                                </button>
                            </div>
                
                            <div class="input-group-btn">
                            </div>
                <!-- open preview file for result(s) selected on table -->
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button"
                                        id="preview">
                                            Preview
                                </button>
                            </div>
                
                            <div class="input-group-btn">
                            </div>
                <!-- open STRF file for result(s) selected on table -->
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button"
                                        id="strf">
                                            STRF
                                </button>
                            </div>
                
                            <div class="input-group-btn">
                            </div>
                <!-- clear selected rows -->
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button"
                                        id="clearSelected">
                                            Clear
                                </button>
                            </div>
                        </div><!-- outer input group -->
                    </div><!-- table buttons bottom col -->
                </div><!-- table row -->

                <div class="row"
                     id="pyConRow">
                    <div class="col-xs-12"
                         id="pyConCol">
                        <div class="jumbotron ui-widget-content"
                             id="py_console">
                        </div>
                    </div>
                </div><!-- py console row -->

            </div><!-- resultsArea  col -->



<!--       Display Area               -->



            <div class="col-md-4 col-xs-12 ui-widget-content dragToggle"
                 id="displayOuter">
                <!--<label for="displayWrapper"> Plot Display </label>-->
                <div id="displayWrapper">
                </div>
                <div id="statusReportWrapper">
                </div>
            </div><!-- preview/plot area col -->
            


        </div><!-- outer row -->

    </div><!-- starter template-->
    </div><!-- container -->
    
    <div class="modal" id="analysisEditorModal" tabindex="-1" role="dialog"
    aria-labelledby="analysisEditorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="analysisEditorModalLabel"> Analysis Editor </h3>
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- header -->
                <div class="modal-body">
                    
                        <div class="container-fluid">
                        <div class="form-group">

                        <div class="row">
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editNameLabel" required>
                                    Name </span>
                            <input type="text" name="editName" placeholder="Name of Analysis"
                            class="form-control">
                            </div>
                            </div>
                            
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editStatusLabel">
                                    Status </span>
                            <input type="text" name="editStatus" placeholder="Status"
                            class="form-control">
                            </div>
                            </div>
                        </div><!-- row -->
                        
                        <div class="row">
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editTagsLabel">
                                    Tags </span>
                            <input type="text" name="editTags" placeholder="Tags, if any"
                            class="form-control">
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editQuestionLabel">
                                        Question </span>
                            <textarea form="analysisEditor" name="editQuestion" placeholder=
                            "Question Asked" class="form-control"></textarea>
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editAnswerLabel">
                                        Answer </span>
                            <textarea form="analysisEditor" name="editAnswer" placeholder=
                            "Answer(s) Found, If Any" class="form-control"></textarea>
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editTreeLabel">
                                        Model Tree </span>
                            <input type="text" name="editTree" id="editTree" placeholder=
                            "{'model','tree',{'specification'}}" class="form-control">
                            </div>
                            </div>
                        </div>
                        
                        </div><!-- form-group -->
                        </div><!--container-->

                </div><!-- body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel</button>
                    
                    <!-- assign this as form submission -->
                    <button type="button" class="btn btn-primary" id="submitEditForm"
                    > Save Analysis </button>
                </div><!-- footer -->
            </div><!--content -->
        </div><!--dialog-->
    </div><!--modal-->
    
    <div id="loadingPopup">
        <div id="loadingMessage">
        </div>
    </div>
    
    <!-- hidden form for modelpane submission -->
    <div style="display:none;">
    <form class="form" id="modelpane" method="POST" target="_blank"
        action="{{ url_for('modelpane_view') }}">
        <input type="text" id="p_batch" name="batch" value="">
        <input type="text" id="p_cellid" name="cellid" value="">
        <input type="text" id="p_modelname" name="modelname" value="">
    </form>
    </div>
    
    <!-- hidden form for stat rep submission -->
    <div style="display:none;">
    <form class="form" id="batchPerfForm" method="POST" target="_blank"
          action="{{ url_for('batch_performance') }}">
          <input type="hidden" id="batchPerfBatch" name="bSelected" value="">
          <input type="hidden" id="batchPerfCells" name="cSelected" value="">
          <input type="hidden" id="batchPerfModels" name="mSelected" value="">
          <input type="hidden" id="batchPerfFindAll" name="findAll" value="">
    </form>
    </div>
    
    <!-- hidden form for fit rep submission -->
    <div style="display:none;">
    <form class="form" id="fitRepForm" method="POST" target="_blank"
          action="{{ url_for('fit_report') }}">
          <input type="hidden" id="fitRepBatch" name="bSelected" value="">
          <input type="hidden" id="fitRepCells" name="cSelected" value="">
          <input type="hidden" id="fitRepModels" name="mSelected" value="">
    </form>
    </div>
    
    <div style="display:none;" id="plotValDefaults">
        <input type="hidden" id="default_iso" value="{{ iso }}">
        <input type="hidden" id="default_snr" value="{{ snr }}">
        <input type="hidden" id="default_snri" value="{{ snri }}">
    </div>
    
    <!-- load jquery -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        
    <!-- load jquery ui -->
    <script src=
        "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- DataTables jQuery plugin -->    
    <script src=
    "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <!-- socketio source -->
    <script type="text/javascript" src=
    "//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    
    <!-- ajax javascript -->
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src=
    "{{ url_for('static', filename='js/analysis_select.js') }}"></script>

  </body>
</html>
