body {
  padding-top: 25px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-group {
  text-align: left;
}

tables.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.input-group {
  margin:10px !important;
}

#rowLimit {
  width: 60px !important;
  text-align: center;
}

.popover {
  max-width: none;
}

#analysisDetails .popover{
  width: 25vw !important;
}

#tableWrapper {
  margin-top: 10px;
  height: 80vh;
  display: block;
  overflow: auto;
  border: none;
  border-left: 1px solid #C8C8C8;
  border-top: 1px solid #C8C8C8;
}

.table-hover, .table-condensed {
  display: block;
  height: 100%;      
  text-align: center;
  border: none;
}

.dataframe th , .dataframe td {
  cursor: pointer;
  border:none;
  text-align:center;        
}

.selectedRow {
  background-color: #3DAEE9 !important;
  color: #FFF !important;
}